{% extends "base.html" %}
{% block content %}
会員情報の変更
<head>
<!--    <meta charset="UTF-8">-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://yubinbango.github.io/yubinbango/yubinbango.js" ></script>
</head>


<form action="" method="POST">
    {{ form.non_field_errors }}
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    {{ form.formset.as_table}}
    </table>         
<!--    <input name="textBox1" type="text" value="" />
    <input type="button" value="Search" onclick="onButtonClick();" />-->
<button type="submit" class="btn btn-success btn-lg">確認する</button>
<p><a href="{% url 'account:memberinfo'  pk=user.pk %}">前のページに戻る</a></p>
</form>

<hr>

会員情報の変更
<script src="https://yubinbango.github.io/yubinbango/yubinbango.js" ></script>
<form action="" method="POST">
    {{ form.non_field_errors }}
    {% csrf_token %}
<table>
    {{ form.as_table }}
</table>            
<button type="submit" class="btn btn-success btn-lg">確認する</button>
</form>

<form class="h-adr" method="POST">
<span class="p-country-name" style="display:none;">Japan</span>
    {{ form.non_field_errors }}
    {% csrf_token %}
<table>
郵便番号:〒<input type="text" class="p-postal-code"  size="3" maxlength="3">
ー<input type="text" class="p-postal-code"  size="4" maxlength="4"><br>
都道府県:<input type="text" class="p-region"  readonly/><br>
市区町村:<input type="text" class="p-locality"  readonly/><br>
丁番号:<input type="text" /><br>
建物名:<input type="text" /><br>
部屋番号:<input type="text" /><br>
電話番号:<input type="text" /><br>
</table>
<input type="submit" value="確認する">
<p><a href="{% url 'account:memberinfo'  pk=user.pk %}">前のページに戻る</a></p>
</form>
{% endblock %}